# Zablokování přímého přístupu ke všem souborům
<FilesMatch ".*">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Povolení přístupu k PHP souborům
<FilesMatch "\.php$">
    Allow from all
</FilesMatch>

# Povolení přístupu k CSS souborům
<FilesMatch "\.css$">
    Allow from all
</FilesMatch>

# Povolení přístupu k JSON souborům
<FilesMatch "\.json$">
    Allow from all
</FilesMatch>

# Povolení přístupu ke složce
Options +Indexes
DirectoryIndex index.php

# Povolení přístupu k souborům
<Files *>
    Order Allow,Deny
    Allow from all
</Files>

# Zakázání přímého přístupu k některým složkám
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Přesměrování chyb
ErrorDocument 403 /errors/error403.php
ErrorDocument 404 /errors/error404.php
ErrorDocument 500 /errors/error500.php