# Zablokování přímého přístupu ke všem souborům
<FilesMatch ".*">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Povolení přístupu k PHP souborům
<FilesMatch "\.php$">
    Allow from all
</FilesMatch>

# Povolení přístupu k CSS souborům
<FilesMatch "\.css$">
    Allow from all
</FilesMatch>

# Povolení přístupu k JSON souborům
<FilesMatch "\.json$">
    Allow from all
</FilesMatch>

# Zobrazí 403 (Forbidden) pro všechny návštěvníky
ErrorDocument 403 /error403.php