/* ====== ZÁKLADNÍ FORMULÁŘE ====== */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

/* ... dopln form styly... */

/* ====== VYHLEDÁVÁNÍ ====== */
.search {
    display: flex;
    align-items: left;
    gap: 5px;
}

/* ...dopln search styly...*/